*/bin/*
*/obj/*
/.idea/.idea.C-Sharp-OOP.dir/.idea/encodings.xml
/.idea/.idea.C-Sharp-OOP.dir/.idea/indexLayout.xml
/.idea/.idea.C-Sharp-OOP.dir/.idea/riderModule.iml
/.idea/.idea.C-Sharp-OOP.dir/.idea/vcs.xml
